* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif, monospace;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: white;
}

.login-container{
  width: 60%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .login-container{
    width: 90%;
  }
}