* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif, monospace;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: white;
}

.login-container{
  width: 60%;
}


.coins-div{
  overflow: scroll;
  margin-top: 2rem;
  padding: 0.55rem;
  border-radius: 0.25rem;
  height: 20vh;
  border: 2px solid rgba(199, 199, 199, 0.446);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .login-container{
    width: 90%;
  }
}